<div class="proyectos-total">
    <div class="titulo">
      <h2>Proyecto</h2>
  <button type="button" routerLink="/nuevoProyecto" *ngIf="isLogged">
    <img src="../../../assets/logos/agregar.png" alt="">
  </button>
    </div>
  <div class="proyectos">
    <div class="contenido-total" *ngFor="let Proyecto of proyectos">
          <div class="menu">
            <td *ngIf="isLogged">
              <button routerLink="/editarProyecto/{{Proyecto.id}}">
                <img src="../../../assets/logos/editar.png" alt=""></button>
            </td>
            <td *ngIf="isLogged">
              <button (click)="delete(Proyecto.id)">
                <img src="../../../assets/logos/borrar.png" alt=""></button>
            </td>
          </div>
          <div class="contenido">

            
            <img class="contenido-imagen" src="{{Proyecto.img}}" alt="">
           
            <div class="contenidoTexto-total">
              <div class="contenidoTexto">
                <h3 class="titulo">
                  {{Proyecto.nombre}}
                </h3>
                <p class="texto">
                  {{Proyecto.texto}}
                </p>
                <p class="lenguajes" *ngIf="Proyecto.lenguajes">
                  Lenguajes: {{Proyecto.lenguajes}}
                </p>
              </div>
              <div class="links">
                  <a href="{{Proyecto.github}}" *ngIf="Proyecto.github">
                  <img src="../../../assets/logos/github.png" alt="">
                </a>
                <a href="{{Proyecto.url}}" *ngIf="Proyecto.url">
                  <img src="../../../assets/logos/link.png" alt="">
                </a>
                <a href="{{Proyecto.video}}" *ngIf="Proyecto.video">
                  <img src="../../../assets/logos/youtube.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        
  </div>
  
  </div>
  