*{
    --color1: rgba(65, 67, 69, 1);
}
.total{
    
        color: #f3f3f3;
        background-color: var(--color1);
        min-height: 100vh;
        height: 100%;

    .titulo{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nuevo{
        form{
            .boton{
                display: flex;
        justify-content: center;
        align-items: center;
        button{
                display: block;
                height: 40px;
                max-width: 300px;
                background-color: rgba(255,255,255,1);
                border-radius: 3px;
                padding: 0 10px;
                margin-top: 8px;
                font-size: 14px;
                font-weight: 300;
            }
        }
            }
        }
    }
    .contenido{
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0em 0em;
        max-width: 100vw;
        img{
            height: 100px;
            width: 100px;

        }
        .contenidoTexto{
            margin: 0em 0em 0 1em;
            .titulo{
                display: block;
                width: 100%;
                font-size: 20px;
                height: 30px;
            }
            
          
        }
}


form{
    height: auto;
    // width: 400px;
   
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 10px 10px;
    .nuevo-contenido{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
       .subcontenido{
        margin: 0em;
        // width:max-content;
        input{
        width: 600px;

        }
        max-width: 600px;

       }

    }
    
}
form {
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label{
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 20px;
    width: 100%;
    background-color: rgba(255,255,255,1);
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}



@media screen and (max-width: 700px){
    
    form{
        .nuevo-contenido{
           .subcontenido{
            margin: 0em;
            // width:max-content;
            input{
            width: 400px;
    
            }
            max-width: 400px;
    
           }
    
        }
        
    }
 

}
@media screen and (max-width: 480px){
    form{
        .nuevo-contenido{
           .subcontenido{
            margin: 0em;
            // width:max-content;
            input{
            width: 200px;
    
            }
            max-width: 200px;
    
           }
    
        }
        
    }
    }


@media screen and (max-width: 270px){

    form{
        .nuevo-contenido{
           .subcontenido{
            margin: 0em;
            // width:max-content;
            input{
            width: 150px;
    
            }
            max-width: 150px;
    
           }
    
        }

}}

