<section  class="experiencia">
    <div class="titulo">
      <h2>Experiencia laboral</h2>
  
    </div>
  <div>
    <table class="table">
      <tbody>
        <tr class="tabla" >
          <div class="contenido" data-aos="fade-down">
            <div class="contenido-imagen">
            <img src="../../../assets/experiencias/quilmes.png" alt="Logo Cerveceria Quilmes">
            </div>
            <div class="contenidoTexto">
              <h3 class="titulo">
                Capacitación
              </h3>
              <h4 class="texto">
                Contrato Temporal
              </h4>
              <div class="fechas">
                Abril 2022
                <p>-</p>
                Noviembre 2022
              </div>
              <h5 class="lugar">
                Cervantes 2172, Mendoza, Argentina
              </h5>
            </div>
          </div>
        </tr>
        <tr class="tabla" >
          <div class="contenido" data-aos="fade-down">
            <div class="contenido-imagen">
            <img src="../../../assets/experiencias/peñaflor.jpeg" alt="Logo Grupo Peñaflor">
            </div>
            <div class="contenidoTexto">
              <h3 class="titulo">
                Operador de producción
              </h3>
              <h4 class="texto">
                Grupo PeñaFlor
              </h4>
              <div class="fechas">
                Abril 2021
                <p>-</p>
                Mayo 2021
              </div>
              <h5 class="lugar">
                Alsina 709, Mendoza, Argentina
              </h5>
            </div>
          </div>
        </tr>
        <tr class="tabla" >
          <div class="contenido" data-aos="fade-down">
            <div class="contenido-imagen">
            <img src="../../../assets/experiencias/matematicas y fisica.png" alt="Logo de pizzaron, tutor de matematica y fisca">
            </div>
            <div class="contenidoTexto">
              <h3 class="titulo">
                Tutor de Matemática y Física
              </h3>
              <h4 class="texto">
                Trabajo independiente
              </h4>
              <div class="fechas">
                Enero 2018
                <p>-</p>
                Diciembre 2020
              </div>
              <h5 class="lugar">
                San Martín, Mendoza, Argentina
              </h5>
            </div>
          </div>
        </tr>
        <tr class="tabla" >
          <div class="contenido" data-aos="fade-down">
            <div class="contenido-imagen">
            <img src="../../../assets/experiencias/electricidad.jpeg" alt="Logo de Técnico eléctrico, tablero electrico">
            </div>
            <div class="contenidoTexto">
              <h3 class="titulo">
                Técnico eléctrico
              </h3>
              <h4 class="texto">
                Trabajo independiente
              </h4>
              <div class="fechas">
                2016
                <p>-</p>
                2020
              </div>
              <h5 class="lugar">
                San Martín, Mendoza, Argentina
              </h5>
            </div>
          </div>
        </tr>


      </tbody>
    </table>
  </div>

</section>
