*{
    --color1: rgba(65, 67, 69, 1);
}
.experiencia{
    color: #f3f3f3;
    background-color: var(--color1);
    .titulo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0em 0em 1em 0em;
        font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
        button{
            margin: 0em 0em 0em 1em;
            background-color: transparent;
            border: none;
            img{
                height: 50px;
            }
        }

    }
    table{
        padding: 0;
        margin: 0em 0em 0em 0em;

        max-width: 100vw;
        width: 100%;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        .tabla{
        margin: 0em;
            height: 180px;
            width: 80%;

            .menu{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                button{
                    background-color: transparent;
                    border: none;
                    img{
                        height: 50px;
                    }
                }
            }
            .contenido{
                display: flex;
                flex-direction: row;
                margin: 0em 0em;
                max-width: 600px;
                .contenido-imagen{
                    display: flex;
                    
                    justify-content: center;
                    align-items: center;
                    
                    height: 150px;
                    width: 250px;
                    img{
                        height: 150px;
                        width: 250px;
    
                    }
                }
                .contenidoTexto{
                    margin: 0em 0em 0 1em;
                    .titulo{
                        display: block;
                        width: 100%;
                        font-size: 20px;
                        height: 30px;
                    }
                    .texto{
                        display: block;
                        width: 100%;
                        font-size: 20px;
                        height: 30px;


                    }
                    .fechas{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        justify-content: space-evenly;
                        align-items: center;
                        font-size: 20px;
                        height: 40px;
                    }
                    .lugar{
                        font-size: 15px;
                        height: 30px;
                        
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px){
    .experiencia{
        .titulo{
            
        font-size: 1.2em;
            button{
                margin: 0em 0em 0em 1em;
                img{
                    height: 50px;
                }
            }
    
        }
        table{
            margin: 0em 0em 0em 0em;

            .tabla{

    
                .menu{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    button{
                        background-color: transparent;
                        border: none;
                        img{
                            height: 50px;
                        }
                    }
                }
                .contenido{
                    display: flex;
                    flex-direction: column;
                    margin: 0em 0em;
                    max-width: 600px;
                    .contenido-imagen{
                        img{
                            height: 150px;
                            width: 250px;
        
                        }
                    }
                    
                    .contenidoTexto{
                        margin: 0em 0.5em 1em 0.5em;
                        .titulo{
                            height: 20px;
                        margin: 0.5em 0em 0 0em;

                        }
                        .texto{
                            height: 20px;
    
                        }
                        .fechas{
                            height: 20px;
                        }
                        .lugar{
                            height: 20px;
                            
                        }
                    }
                }
            }
        }
    }
    
  }
  @media screen and (max-width: 300px){
    .experiencia{
        .titulo{
            
        font-size: 1.2em;
            button{
                margin: 0em 0em 0em 1em;
                img{
                    height: 50px;
                }
            }
    
        }
        table{
            margin: 0em 0em 0em 0em;

            .tabla{

    
                .menu{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    button{
                        background-color: transparent;
                        border: none;
                        img{
                            height: 50px;
                        }
                    }
                }
                .contenido{
                    display: flex;
                    flex-direction: column;
                    margin: 0em 0em;
                    max-width: 600px;
                    .contenido-imagen{
                        img{
                            height: 125px;
                            width: 200px;
        
                        }
                    }
                    .contenidoTexto{
                        margin: 0em 0em 0 1em;
                        .titulo{
                            font-size: 15px;
                            height: 20px;
                        }
                        .texto{
                            font-size: 15px;
                            height: 20px;
    
    
                        }
                        .fechas{
                            font-size: 15px;
                            height: 20px;
                        }
                        .lugar{
                            font-size: 10px;
                            height: 20px;
                            
                        }
                    }
                }
            }
        }
    }
    
  }