<!-- <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
<swiper-slide>
  <img src=" https://swiperjs.com/demos/images/nature-1.jpg" />
</swiper-slide>
<swiper-slide>
  <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
</swiper-slide>
<swiper-slide>
  <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
</swiper-slide>
<swiper-slide>
  <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
</swiper-slide>
<swiper-slide>
  <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
</swiper-slide>
<swiper-slide>
  <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
</swiper-slide>
<swiper-slide>
  <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
</swiper-slide>
<swiper-slide>
  <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
</swiper-slide>
<swiper-slide>
  <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
</swiper-slide>
</swiper-container>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
 -->



<!-- 
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" >
      <img src="../../../assets/skills2/angular.png" (mouseover)="showTooltip($event)" (mouseout)="hideTooltip($event)">
      <div class="tooltip" [ngStyle]="{'visibility': showTooltipIndex == 1 ? 'visible' : 'hidden', 'opacity': showTooltipIndex == 1 ? 1 : 0}">
        <p>asd</p>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div> -->
<h1>Logos</h1>
<div class="logo-carousel" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
  <div class="carousel-container" [style.transform]="'translateX(' + translateX + 'px)'">
    <div class="logo" *ngFor="let logo of logos; let i = index" [style.background-image]="logo.src">
      <p>{{logo.src}}</p>
      <div class="logo-tooltip" >
        <span>{{ logo.name }}</span>
      </div>
    </div>
  </div>
</div>

<h2>asdasdasdas</h2><img src="assets/skills2/angular.png" alt="Angular logo">


<div class="logo-carousel" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
  <div class="carousel-container" [style.transform]="'translateX(' + translateX + 'px)'">
    <div class="logo" *ngFor="let logo of logos; let i = index">
      <img src="{{logo.src}}" alt="{{logo.name}}" (mouseover)="showTooltipIndex = i" (mouseout)="showTooltipIndex = -1">
      <div class="logo-tooltip" *ngIf="showTooltipIndex === i">
        <span>{{ logo.name }}</span>
      </div>
    </div>
  </div>
</div>
<ngb-carousel [interval]="5000" [pauseOnHover]="true">
  <ng-template ngbSlide>
    <div class="d-flex justify-content-around align-items-center">
      <img src="logo1.png" alt="Logo 1" class="mx-3 my-4">
      <img src="logo2.png" alt="Logo 2" class="mx-3 my-4">
      <img src="logo3.png" alt="Logo 3" class="mx-3 my-4">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="d-flex justify-content-around align-items-center">
      <img src="logo4.png" alt="Logo 4" class="mx-3 my-4">
      <img src="logo5.png" alt="Logo 5" class="mx-3 my-4">
      <img src="logo6.png" alt="Logo 6" class="mx-3 my-4">
    </div>
  </ng-template>
</ngb-carousel>
