           
<div class="total">
    <div class="titulo">
        <h2>Editar Acerca de mi</h2>
    </div>
  <div class="nuevo">
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="nuevo-contenido">
        <div class="subcontenido">
            <div>
              <label for="nombre">Nombre de la empresa:</label>
              <input type="text" id="nombre" name="nombre" [(ngModel)]="personaEditar.nombre" required>
            </div>
            <div>
              <label for="nombre">Texto:</label>
              <input type="text" id="texto" name="texto" [(ngModel)]="personaEditar.texto" required>
            </div>
           
          </div>
          <div class="subcontenido">
            <div>
                <label for="nombre">Texto2:</label>
                <input type="text" id="desde" name="desde" [(ngModel)]="personaEditar.texto2" required>
              </div>
            <div>
              <label for="nombre">Img:</label>
              <input type="text" id="img" name="img" [(ngModel)]="personaEditar.img" required>
            </div>
          </div>
      </div>
      <div class="boton">
        <button>
            Editar
          </button>
      </div>
      
    </form>

  </div>
  <div class="principal">
    <div class="foto">
      <img src="{{personaEditar.img}}">
    </div>
    <div class="texto">
      <p class="nombre">{{personaEditar.nombre}}</p>
      <p>{{personaEditar.texto}}</p>
      <p>{{personaEditar.texto2}}</p>
      <p>Full Stack Developer Jr</p>
    </div>
  </div>

  </div>
