<div class="experiencia">
  <div class="titulo">
    <h2>Cursos</h2>
<button type="button" routerLink="/nuevoCurso" *ngIf="isLogged">
  <img src="../../../assets/logos/agregar.png" alt="">
</button>
  </div>
<div>
  <table class="table">
    <tbody>
      <tr class="tabla" *ngFor="let Curso of cursos">
        <div class="menu">
          <td *ngIf="isLogged">
            <button routerLink="/editarCursos/{{Curso.id}}">
              <img src="../../../assets/logos/editar.png" alt=""></button>
          </td>
          <td *ngIf="isLogged">
            <button (click)="delete(Curso.id)">
              <img src="../../../assets/logos/borrar.png" alt=""></button>
          </td>
        </div>
        <div class="contenido" data-aos="fade-down">
          <div class="contenido-imagen">
          <img src="{{Curso.img}}" alt="">
          </div>
          <div class="contenidoTexto">
            <h3 class="titulo">
              {{Curso.nombre}}
            </h3>
            <h4 class="texto">
              {{Curso.texto}}
            </h4>
            <div class="fechas">
              {{Curso.desde}}
              <p>-</p>
              {{Curso.hasta}}
            </div>
            <h5 class="lugar">
              {{Curso.lugar}}
            </h5>

          </div>


        </div>
      </tr>





    </tbody>
  </table>
</div>

</div>
