<div class="row">
    <div class="container" data-aos="zoom-out-down" data-aos-duration="2500">
        <div class="logo">
         
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/paulo-contrera/" target="_blank"><img src="../../../assets/logos/linkein.png" id="linkedin"></a>
            <a href="https://github.com/PauloContrera" target="_blank"><img src="../../../assets/logos/github.png" id="linkedin"></a>
            

           </div>
    </div>
</div>

