<div class="row">
    <div class="container" data-aos="zoom-out-down" data-aos-duration="2500">
        <div class="logo">
            <img src="../../../assets/logos/APLogo-20-20.png" id="logoAP">
            <img src="../../../assets/logos/LogosInti.png" id="logo">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/paulo-contrera/" target="_blank"><img src="../../../assets/logos/linkein.png" id="linkedin"></a>
            <a href="https://github.com/PauloContrera" target="_blank"><img src="../../../assets/logos/github.png" id="linkedin"></a>
            <a href="https://www.facebook.com/paulo.contrera" target="_blank"><img src="../../../assets/logos/facebook.png" id="linkedin"></a>
            <a href="https://twitter.com/PauloContrera97" target="_blank"><img src="../../../assets/logos/twiter.png" id="linkedin"></a>
            

            <button type="button" *ngIf="!isLogged"><a href="/Login"><img src="../../../assets/logos/iniciar-cesion.png" alt=""> </a></button>
            <button type="button" (click)="onLogOut()" *ngIf="isLogged"><img src="../../../assets/logos/borrar.png" alt=""> </button>
        </div>
    </div>
</div>

