<div class="fondo">
    <div class="nombre-completo">
        <div class="seccion"  data-aos="zoom-out-down" data-aos-duration="2500">
        <h2><div class="arriba">P</div></h2>
        <h2><div class="arriba">a</div></h2>
        <h2><div class="arriba">u</div></h2>
        <h2><div class="arriba">l</div></h2>
        <h2><div class="arriba">o</div></h2>
    
    </div>
    <div class="seccion"  data-aos="zoom-out-up" data-aos-duration="4500">
        <h2><div class="abajo">C</div></h2>
        <h2><div class="abajo">o</div></h2>
        <h2><div class="abajo">n</div></h2>
        <h2><div class="abajo">t</div></h2>
        <h2><div class="abajo">r</div></h2>
        <h2><div class="abajo">e</div></h2>
        <h2><div class="abajo">r</div></h2>
        <h2><div class="abajo">a</div></h2>
    
    </div>
    </div>
    </div>