@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.fondo{

    margin-top: -90px;
    padding: 0px;
--color1: rgba(65, 67, 69, 0.98);
//    --color2: rgba(65, 67, 69, 0.98);
//     background: var(--color1); background: -webkit-linear-gradient(to right, var(--color1), var(--color2)); 
//     background: linear-gradient(to right, var(--color1), var(--color2)), url("../../../assets/placa-vectorizada.svg"); 
    background-color: var(--color1);
background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat ;
    // background-attachment: fixed;
    background-position: 0 0;
    overflow:hidden;

}
.nombre-completo{
    height: 100vh;
    font-size: 5em;
    letter-spacing: 10px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.seccion{
    display: flex;
    position: relative;
    justify-content: center;
}

div:hover.arriba{
    transform: translateY(-15px)scale(1.1);
    transition: 0.2s;
}
div:hover.abajo{
    transform: translateY(15px)scale(1.1);
    // transform: scale(1.2);
    transition: 0.2s;
}

.foco{
    filter:blur(0px);
    transition: 0.5s;
}

@media screen and (max-width: 700px){
    .nombre-completo{
        font-size: 4em;
        letter-spacing: 10px;   
    
    }
}
@media screen and (max-width: 580px){
    .nombre-completo{
        font-size: 3em;
        letter-spacing: 10px;    
    }
}
@media screen and (max-width: 450px){
    .nombre-completo{
        font-size: 2.5em;
        letter-spacing: 8px;    
    }
}
@media screen and (max-width: 380px){
    .nombre-completo{
        font-size: 2em;
    }
}
@media screen and (max-width: 300px){
    .nombre-completo{
        font-size: 1.7em;
    }
}
@media screen and (max-width: 260px){
    .nombre-completo{
        font-size: 1.5em;
    }
}