<div class="idiomas-totales">
    <div class="titulo">
      <h2>Idiomas</h2>
  
    </div>
    
    <div class="idiomas" >
     
        <div class="contenido-circulos" *ngFor="let idiom of idioma">
           
              <div class="circulos" data-aos="fade-up">
                <circle-progress 
                [percent]="(idiom.valor)" 
                [radius]="90" [imageSrc]="''" 
                [title]="(idiom.nombre)"
                [titleColor]="'#f3f3f3'"
                [showTitle]="true" 
                [showImage]="false" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false"
                [showSubtitle]="false" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#f3f3f3'"
                [innerStrokeColor]="'#f3f3f3'" 
                [animation]="true" 
                [animationDuration]="600">
                </circle-progress>
              </div>
            
        </div>
         

    </div>
    
  </div>