<div class="row">
  <div class="principal">
    <div class="foto">
    <img src="../../../assets/perfil.jpeg">
    </div>
    <div class="texto">
      <div class="nombre">
        <p>{{persona.nombre}}</p>
        <p>{{persona.apellido}}</p>
      </div>
      <p>Full Stack Developer Jr</p>
    </div>
  </div>
  <div class="secundario">
    <span>
      <h1>Acerca de mí</h1>
      <p>Soy un estudiante avanzado de Ingeniera Electronica en la UTN FRM. Actualmente me estoy capacitando en
        desarrollo web y tengo experiencia en las ramas de electricidad y electrónica.</p>
    </span>
  </div>
</div>
