<div class="acerca-de-mi">
  <div class="titulo">
    <h2>Acerca de mi</h2>
    <button *ngIf="isLogged"  routerLink="/ediAcerca/1">
      <img src="../../../assets/logos/editar.png" alt="">
    </button>
  </div>

  <div class="principal" data-aos="fade-down">
    <div class="foto">
      <img src="{{persona.img}}">
    </div>
    <div class="texto">
      <p class="nombre">{{persona.nombre}}</p>
      <div class="texto-extra">
        <p>{{persona.texto}}</p>
      <p>{{persona.texto2}}</p>
      <p>Full Stack Developer Jr</p>
      </div>
    </div>
  </div>
</div>
