<div class="total">
    <div class="titulo">
        <h2>Nueva Educacion</h2>
    </div>
  <div class="nuevo">
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="nuevo-contenido">
            <div class="subcontenido">
                <div>
                  <label for="nombre">Nombre:</label>
                  <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div>
                  <label for="Texto">Texto:</label>
                  <input type="text" id="Texto" name="Texto" [(ngModel)]="texto" required>
                </div>
                <div>
                  <label for="Lenguajes">Lenguajes:</label>
                  <input type="text" id="Lenguajes" name="Lenguajes" [(ngModel)]="lenguajes" required>
                </div>
                <div>
                  <label for="Img">Img:</label>
                  <input type="text" id="Img" name="Img" [(ngModel)]="img" required>
                </div>
                
            </div>
    
                
              <div class="subcontenido">
                <div>
                    <label for="Url">Url:</label>
                    <input type="text" id="Url" name="Url" [(ngModel)]="url" required>
                </div>
                <div>
                    <label for="github">Github:</label>
                    <input type="text" id="github" name="github" [(ngModel)]="github" required>
                  </div>
                  <div>
                    <label for="video">Video:</label>
                    <input type="text" id="video" name="video" [(ngModel)]="video" required>
                  </div>
                  
              </div>
          </div>
      <div class="boton">
        <button>
            Agregar
          </button>
      </div>
      
    </form>
  
  </div>
  <div class="contenido-total">

    <div class="contenido">

            
        <img class="contenido-imagen" src="{{img}}" alt="">
       
        <div class="contenidoTexto-total">
          <div class="contenidoTexto">
            <h3 class="titulo">
              {{nombre}}
            </h3>
            <p class="texto">
              {{texto}}
            </p>
            <p class="lenguajes" >
              Lenguajes: {{lenguajes}}
            </p>
          </div>
          <div class="links">
            <a href="{{github}}" *ngIf="github">
            <img src="../../../assets/logos/github.png" alt="">
          </a>
          <a href="{{url}}" *ngIf="url">
            <img src="../../../assets/logos/link.png" alt="">
          </a>
          <a href="{{video}}" *ngIf="video">
            <img src="../../../assets/logos/youtube.png" alt="">
          </a>
        </div>
        </div>
      </div>
      
  </div>
  